/* row background colors */
.preferred-false > td {
  background-color: #eee;
}
.status-DELETE > td {
  background-color: #fee;
}

/* control checkbox layout */
input[type="checkbox"],
input[type="checkbox"] + label,
input[type="radio"],
input[type="radio"] + label {
  display: inline-block;
}

label + input[type="checkbox"],
label + input[type="radio"] {
  margin-left: 2em;
}

/* show values in addition to diffs */
.value {
  display: block;
}

#only-show-diffs:checked ~ * .value {
  display: none;
}

/* hide products */
#only-show-first-last:checked ~ * tbody > tr {
  display: none;
}
/* except first and last version */
#only-show-first-last:checked ~ * tr.version-first,
#only-show-first-last:checked ~ * tr.version-last {
  display: table-row;
}

/* hide non-preferred products */
#only-show-preferred:checked ~ * .preferred-false {
  display: none !important;
}


/* unless showing origins */
#only-show-origins:checked ~ * tbody > tr {
  display: none;
}

#only-show-origins:checked ~ * tbody > tr.type-origin {
  display: table-row;
}